.header {
width: auto;
padding: 2px;
}
#name {
margin-left: 3px;
}

#output p {
  padding: 0px;
  margin-bottom: 3px;
  margin-top: 3px;
  width:75%;
}

#output p:nth-child(even) {
    background-color: #fafafa;
}

#input {
float: left;
width: 75%;
}

.info {
  float:right;
  width: 24%;
}
