.message { margin: 5px; }

.message .body img {
    max-height: 450px;
    max-width: 250px;
}

.message .name {
    display: inline-block;
    font-weight: bold;
    position: relative;
    vertical-align: top;
}

.message .name span:before { content: " ("; }

.message .name span {
    font-size: 12px;
    font-weight: normal;
}

.message .name span:after { content: "):"; }

.message .body {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
}

.message img.emoji { vertical-align: middle; }

h1, .h1 { color: #3F2860; }
h4, .h4 { color: #ef6d38; }

.user-list { display: none;margin-bottom: 15px;}

.user-list .online-users div, .user-list .recent-rooms div  {
    display: inline;
    font-weight: bold;
    padding-right: 5px;
    color: #ef6d38;  
}

.user-list ul { display: inline; }

.user-list div span { font-style: italic; }

.user-list .online-users li {
    -moz-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #7A9A95;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    color: white;
    margin: 2px;
    padding: 0 6px;
}

.now-playing {
    padding: 10px;
    font-weight: bold;
}

@media(max-width:767px) {
    .recent-rooms {
        text-align: left;
    }
}